{% extends 'base.html'%}

{% block body %}

<!-- TITLE OF PAGE -->
{{ macros.header(map|upper, mode|upper, "/currentMeta") }}

<div class="col-lg-6 mx-auto my-5">
{% if mode|upper != "SOLOSHOWDOWN" %}
<!-- TEAM TABLE -->
  <table id="footable" class="table text-white" data-sorting="true" data-paging="true" data-paging-size="5"
    data-paging-limit="3">
    <thead class="table-dark">
      <tr class="item">
        <th scope="col" class="align-middle" data-sortable="false" style="width: 50%;">Brawlers</th>
        <th scope="col" data-type="number" data-formatter="percentage_format" class="align-middle">Win Rate</th>
        <th scope="col" data-type="number" data-formatter="percentage_format" class="align-middle">Pick Rate</th>
        <th scope="col" data-type="number" data-sort-initial="true" class="align-middle" data-breakpoints="xs">Wins</th>
        <th scope="col" data-type="number" data-sort-initial="true" class="align-middle" data-breakpoints="xs">Games
        </th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(0, lenTeams) %}
      <tr>
        {% if mode|upper != "DUOSHOWDOWN" %}
        <td>
          <div class="container">
            <ul class="people">
              <li>
                <img src='/static/img/brawlers/{{bestTeams[i]["teamStats"]["brawlers"][0] | replace(" ","") | replace(".", "") | replace("-", "") | lower}}.png'
                  alt='{{bestTeams[i]["teamStats"]["brawlers"][0]}}'
                  style="max-width:20%; min-width:50px; border-radius:20%" class="img-border-small">
              <li>
                <img src='/static/img/brawlers/{{bestTeams[i]["teamStats"]["brawlers"][1] | replace(" ","") | replace(".", "") | replace("-", "") | lower}}.png'
                  alt='{{bestTeams[i]["teamStats"]["brawlers"][1]}}'
                  style="max-width:20%; min-width:50px; border-radius:20%" class="img-border-small">
              <li>
                <img src='/static/img/brawlers/{{bestTeams[i]["teamStats"]["brawlers"][2] | replace(" ","") | replace(".", "") | replace("-", "") | lower}}.png'
                  alt='{{bestTeams[i]["teamStats"]["brawlers"][2]}}'
                  style="max-width:20%; min-width:50px; border-radius:20%" class="img-border-small">
            </ul>
          </div>
        </td>
        {% else %}
        <td>
          <div class="container">
            <ul class="people">
              <li>
                <img src='/static/img/brawlers/{{bestTeams[i]["teamStats"]["brawlers"][0] | replace(" ","") | replace(".", "") | replace("-", "") | lower}}.png'
                  alt='{{bestTeams[i]["teamStats"]["brawlers"][0]}}'
                  style="max-width:20%; min-width:50px; border-radius:20%" class="img-border-small">
              <li>
                <img src='/static/img/brawlers/{{bestTeams[i]["teamStats"]["brawlers"][1] | replace(" ","") | replace(".", "") | replace("-", "") | lower}}.png'
                  alt='{{bestTeams[i]["teamStats"]["brawlers"][1]}}'
                  style="max-width:20%; min-width:50px; border-radius:20%" class="img-border-small">
            </ul>
          </div>
        </td>
        {% endif %}
        <td class="align-middle">{{"%.1f"|format(100*bestTeams[i]["teamStats"]["winRate"])}}%</td>
        <td class="align-middle">{{"%.1f"|format(100*bestTeams[i]["teamStats"]["pickRate"])}}%</td>
        <td class="align-middle">{{bestTeams[i]["teamStats"]["winNumber"]}}</td>
        <td class="align-middle">{{bestTeams[i]["teamStats"]["pickNumber"]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  <!-- END OF TABLE -->


  <!-- SOLO TABLE -->
  <table id="footable" class="table text-white" data-sorting="true" data-paging="true" data-paging-size="5"
    data-paging-limit="3">
    <thead class="table-dark">
      <tr class="item">
        <th scope="col" class="align-middle" data-sortable="false" style="width: 50%;">Brawlers</th>
        <th scope="col" data-type="number" data-formatter="percentage_format" class="align-middle">Win Rate</th>
        <th scope="col" data-type="number" data-formatter="percentage_format" class="align-middle">Pick Rate</th>
        <th scope="col" data-type="number" data-sort-initial="true" class="align-middle" data-breakpoints="xs">Wins</th>
        <th scope="col" data-type="number" data-sort-initial="true" class="align-middle" data-breakpoints="xs">Games
        </th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(0, lenSolo) %}
      <tr>
        <td>
          <div class="container">
            <ul class="people">
              <img src='/static/img/brawlers/{{bestSolo[i]["soloStats"]["brawler"] | replace(" ","") | replace(".", "") | replace("-", "") | lower}}.png'
                alt='{{bestSolo[i]["soloStats"]["brawler"]}}' style="max-width:20%; min-width:50px; border-radius:20%"
                class="img-border-small">
            </ul>
          </div>
        </td>
        <td class="align-middle">{{"%.1f"|format(100*bestSolo[i]["soloStats"]["winRate"])}}%</td>
        <td class="align-middle">{{"%.1f"|format(100*bestSolo[i]["soloStats"]["pickRate"])}}%</td>
        <td class="align-middle">{{bestSolo[i]["soloStats"]["winNumber"]}}</td>
        <td class="align-middle">{{bestSolo[i]["soloStats"]["pickNumber"]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- END OF TABLE -->

<script>
  jQuery(function ($) {
    $('.table').footable(
      {
  paging: {
    enabled: true,
    size: 5,
    strings: {
      prev: 'Prev',
      next: 'Next'
    }
  }
}
    );
  });

  function percentage_format(value) {
    return value + '%';
  }
</script>

{% endblock body %}