{% extends 'base.html'%}

{% block body %}

<!-- TITLE OF PAGE -->
{{ macros.header(map|upper, mode|upper, "/currentMeta") }}

<main class="container">

  <div class="row">

    <div class="col-lg-8 text-center">
      {% if mode|upper != "SOLOSHOWDOWN" %}
      <div class="btn-group btn-group-lg mb-3" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="soloButton" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="soloButton">SOLO</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="teamButton" autocomplete="off">
        <label class="btn btn-outline-primary" for="teamButton">TEAM</label>
      </div>
      {% endif %}

      <div class="container bg-dark text-center mb-5 event rounded-3 text-white pb-3" id="teamDiv" style="display:none">



      {% if mode|upper != "SOLOSHOWDOWN" %}
      <!-- TEAM TABLE -->
      <table id="myTable2" class="table text-white">
        <!-- <table id="footable" class="table text-white" data-sorting="true" data-paging="false" data-paging-size="5"
          data-paging-limit="3"> -->
          <thead class="table-dark">
            <tr class="item">
              <th scope="col" onclick="sortTable(0)" class="text-center" data-sortable="false" style="width: 50%;">Brawlers</th>
              <th scope="col" onclick="sortTable(1)" data-type="number" data-formatter="percentage_format" class="align-middle">Win Rate</th>
              <th scope="col" onclick="sortTable(2)" data-type="number" data-formatter="percentage_format" class="align-middle">Pick Rate</th>
              <th scope="col" onclick="sortTable(3)" data-type="number" data-sort-initial="true" class="align-middle" data-breakpoints="xs">Wins</th>
              <th scope="col" onclick="sortTable(4)" data-type="number" data-sort-initial="true" class="align-middle" data-breakpoints="xs">Games
              </th>
            </tr>
          </thead>
          <tbody>
            {% for i in range(0, lenTeams) %}
            <tr>
              {% if mode|upper != "DUOSHOWDOWN" %}
              <td>
                <div class="container px-0">
                  <ul class="people text-center">
                    <li>
                      <img src='/static/img/brawlers/{{bestTeams[i]["teamStats"]["brawlers"][0] | replace(" ","") | replace(".", "") | replace("-", "") | lower}}.png'
                        alt='{{bestTeams[i]["teamStats"]["brawlers"][0]}}'
                        class="img-border-small">
                    <li>
                      <img src='/static/img/brawlers/{{bestTeams[i]["teamStats"]["brawlers"][1] | replace(" ","") | replace(".", "") | replace("-", "") | lower}}.png'
                        alt='{{bestTeams[i]["teamStats"]["brawlers"][1]}}'
                        class="img-border-small">
                    <li>
                      <img src='/static/img/brawlers/{{bestTeams[i]["teamStats"]["brawlers"][2] | replace(" ","") | replace(".", "") | replace("-", "") | lower}}.png'
                        alt='{{bestTeams[i]["teamStats"]["brawlers"][2]}}'
                        class="img-border-small">
                  </ul>
                </div>
              </td>
              {% else %}
              <td>
                <div class="container px-0">
                  <ul class="people text-center">
                    <li>
                      <img src='/static/img/brawlers/{{bestTeams[i]["teamStats"]["brawlers"][0] | replace(" ","") | replace(".", "") | replace("-", "") | lower}}.png'
                        alt='{{bestTeams[i]["teamStats"]["brawlers"][0]}}'
                        class="img-border-small">
                    <li>
                      <img src='/static/img/brawlers/{{bestTeams[i]["teamStats"]["brawlers"][1] | replace(" ","") | replace(".", "") | replace("-", "") | lower}}.png'
                        alt='{{bestTeams[i]["teamStats"]["brawlers"][1]}}'
                        class="img-border-small">
                  </ul>
                </div>
              </td>
              {% endif %}
              <td class="align-middle">{{"%.1f"|format(100*bestTeams[i]["teamStats"]["winRate"])}}%</td>
              <td class="align-middle">{{"%.1f"|format(100*bestTeams[i]["teamStats"]["pickRate"])}}%</td>
              <td class="align-middle">{{bestTeams[i]["teamStats"]["winNumber"]}}</td>
              <td class="align-middle">{{bestTeams[i]["teamStats"]["pickNumber"]}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
        <!-- END OF TABLE -->    

        </div>

        <div class="container bg-dark text-center mb-5 event rounded-3 text-white pb-3" id="soloDiv">

      
        <!-- SOLO TABLE -->
        <table id="footable" class="table text-white" data-sorting="true" data-paging="false" data-paging-size="5"
          data-paging-limit="3">
          <thead class="table-dark">
            <tr class="item">
              <th scope="col" class="text-center" data-sortable="false" style="width: 50%;">Brawlers</th>
              <th scope="col" data-type="number" data-formatter="percentage_format" class="align-middle">Win Rate</th>
              <th scope="col" data-type="number" data-formatter="percentage_format" class="align-middle">Pick Rate</th>
              <th scope="col" data-type="number" data-sort-initial="true" class="align-middle" data-breakpoints="xs">Wins</th>
              <th scope="col" data-type="number" data-sort-initial="true" class="align-middle" data-breakpoints="xs">Games
              </th>
            </tr>
          </thead>
          <tbody>
            {% for i in range(0, lenSolo) %}
            <tr>
              <td>
                <div class="container px-0">
                  <ul class="people text-center">
                    <img src='/static/img/brawlers/{{bestSolo[i]["soloStats"]["brawler"] | replace(" ","") | replace(".", "") | replace("-", "") | lower}}.png'
                      alt='{{bestSolo[i]["soloStats"]["brawler"]}}' 
                      class="img-border-small">
                  </ul>
                </div>
              </td>
              <td class="align-middle">{{"%.1f"|format(100*bestSolo[i]["soloStats"]["winRate"])}}%</td>
              <td class="align-middle">{{"%.1f"|format(100*bestSolo[i]["soloStats"]["pickRate"])}}%</td>
              <td class="align-middle">{{bestSolo[i]["soloStats"]["winNumber"]}}</td>
              <td class="align-middle">{{bestSolo[i]["soloStats"]["pickNumber"]}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      <!-- END OF TABLE -->

      </div>





    </div>

    <div class="col-6 col-lg-4 mx-auto pb-5">
      <div class="position-sticky" style="top: 2rem;">
        <img src='/static/img/maps/borderImg/{{mode | upper | replace("SOLO", "") | replace("DUO", "") | lower}}/{{map | replace (" ", "") | replace (":", "") | replace (".", "") | lower}}.png' class="" alt='MAP IMAGE NOT AVAILABLE NOW'
style="max-width:100%; max-height:500px">
      </div>
    </div>
  </div>
  </main>

<script>

const soloDiv = document.getElementById("soloDiv");
const soloButton = document.getElementById("soloButton");
soloButton.onclick = function () {
  teamDiv.style.display = "none";
  soloDiv.style.display = "block";
};

const teamDiv = document.getElementById("teamDiv");
teamDiv.style.display = "none";

const teamButton = document.getElementById("teamButton");
teamButton.onclick = function () {
    teamDiv.style.display = "block";
    soloDiv.style.display = "none";
};


function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable2");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (Number(x.innerHTML) > Number(y.innerHTML)) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

{% endblock body %}