{% extends 'base.html'%}

{% block body %}

<!-- TITLE OF PAGE -->

{{ macros.header(title,"", "/") }}

<div class="col-lg-12 text-center">

  <div class="btn-group btn-group-lg mb-3" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="currentButton" autocomplete="off" checked>
    <label class="btn btn-outline-primary" for="currentButton">Current</label>
  
    <input type="radio" class="btn-check" name="btnradio" id="championshipButton" autocomplete="off">
    <label class="btn btn-outline-primary" for="championshipButton">Championship</label>
  </div>
  
  </div>

  <div id="metaDiv" class="col-lg-12 text-center">
{% for i in range(0, len) %}
{% set map = current_events[i]["event"]["map"] | replace("'", "") | replace("-", "") | upper %}
{% set mode = current_events[i]["event"]["mode"] | replace("'", "") | replace("-", "") | upper %}

<!-- DIV FOR ONE EVENT -->

{% if mode!="BOSSFIGHT" and mode!="SUPERCITYRAMPAGE" and mode!="BIGGAME" %}

<div class="container col-lg-6 bg-dark text-center my-5 event rounded-3 text-white pb-3"
  onclick="location.href='/currentMeta/{{i}}'">

  <h4 class="pt-3 mb-2">
    <img src='/static/img/modes/{{mode | lower}}.png' alt='{{current_events[i]["event"]["mode"]}}' loading="lazy"
      style="max-width:30px; min-width:30px;">
      <span class="align-middle">
        {{ map }}
      </span>
  </h4>

  <div class="row flex-lg-row align-items-center">
    <div class="col-7 col-md-9 text-center bg-dark">

      {% if battleNumber[i]!=0 %}

      <!-- TEAM TABLE -->

      {% if (mode!="SOLOSHOWDOWN") %}
      <table class="table table-dark responsive">
        <thead>
          <tr>
            <th scope="col" class="align-middle" style="width:50%">Team</th>
            <th scope="col" class="align-middle">Win rate</th>
            <th scope="col" class="align-middle">Pick rate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% if (mode!="DUOSHOWDOWN") %}
            <td class="w-100">
              <ul class="people text-center">
                <li>
                  <img src='/static/img/brawlers/{{bestTeams[i][0]["teamStats"]["brawlers"][0] | replace(" ","") | replace(".", "") | replace("-", "") | lower}}.png'
                    class="img-border-small" alt='{{bestTeams[i][0]["teamStats"]["brawlers"][0]}}'>
                <li>
                  <img src='/static/img/brawlers/{{bestTeams[i][0]["teamStats"]["brawlers"][1] | replace(" ","") | replace(".", "") | replace("-", "") | lower}}.png'
                    class="img-border-small" alt='{{bestTeams[i][0]["teamStats"]["brawlers"][1]}}'>
                <li>
                  <img src='/static/img/brawlers/{{bestTeams[i][0]["teamStats"]["brawlers"][2] | replace(" ","") | replace(".", "") | replace("-", "") | lower}}.png'
                    class="img-border-small" alt='{{bestTeams[i][0]["teamStats"]["brawlers"][2]}}'>
              </ul>
            </td>
            {% elif mode=="DUOSHOWDOWN" %}
            <td class="w-100">
              <ul class="people text-center">
                <li>
                  <img src='/static/img/brawlers/{{bestTeams[i][0]["teamStats"]["brawlers"][0] | replace(" ","") | replace(".", "") | replace("-", "") | lower}}.png'
                    class="img-border-small" alt='{{bestTeams[i][0]["teamStats"]["brawlers"][0]}}'>
                <li>
                  <img src='/static/img/brawlers/{{bestTeams[i][0]["teamStats"]["brawlers"][1] | replace(" ","") | replace(".", "") | replace("-", "") | lower}}.png'
                    class="img-border-small" alt='{{bestTeams[i][0]["teamStats"]["brawlers"][1]}}'>
              </ul>
            </td>
            {% endif %}
            <td data-label="Win" class="align-middle">
              <p class="fs-6 mb-0">{{"%.1f"|format(100*bestTeams[i][0]["teamStats"]["winRate"])}}%</p>
            </td>
            <td data-label="Pick" class="align-middle">
              <p class="fs-6 mb-0">{{"%.1f"|format(100*bestTeams[i][0]["teamStats"]["pickRate"])}}%</p>
            </td>
          </tr>
        </tbody>
      </table>
      {% endif %}

      <!-- END TABLE -->

      <!-- SOLO TABLE -->

      <table class="table table-dark responsive">
        <thead>
          <tr>
            <th scope="col" class="align-middle" style="width:50%">Brawler</th>
            <th scope="col" class="align-middle">Win rate</th>
            <th scope="col" class="align-middle">Pick rate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="w-100">
              <ul class="people text-center">
                <li>
                  <img src='/static/img/brawlers/{{bestSolo[i][0]["soloStats"]["brawler"] | replace(" ","") | replace(".", "") | replace("-", "") | lower}}.png'
                    class="img-border-small" alt='{{bestSolo[i][0]["soloStats"]["brawler"]}}'>
              </ul>
            </td>
            <td data-label="Win" class="align-middle">
              <p class="fs-6 mb-0">{{"%.1f"|format(100*bestSolo[i][0]["soloStats"]["winRate"])}}%</p>
            </td>
            <td data-label="Pick" class="align-middle">
              <p class="fs-6 mb-0">{{"%.1f"|format(100*bestSolo[i][0]["soloStats"]["pickRate"])}}%</p>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- END TABLE -->

      {% endif %}

    </div>

    <!-- MAP DIV -->

    <div class="col-5 col-md-3 text-center bg-dark ps-0">

      {% if battleNumber[i]!=0 %}
      <span class="badge bg-success mb-1">
        {{battleNumber[i]}} battles
      </span>
    {% else %}
      <span class="badge bg-danger mb-1">
        No battle yet!
      </span>
    {% endif %}

      {% if battleNumber[i]!= 0 %}
      <img src='/static/img/maps/borderImg/{{mode | replace("SOLO", "") | replace("DUO", "") | lower}}/{{map | replace (" ", "") | replace (":", "") | replace (".", "") | lower}}.png' class="" alt='MAP IMAGE NOT AVAILABLE NOW'
        style="max-width: 100%;min-width: 100%">
      {% else %}
      <img src='/static/img/maps/borderImg/{{mode | replace("SOLO", "") | replace("DUO", "") | lower}}/{{map | replace (" ", "") | replace (":", "") | replace (".", "") | lower}}.png' class="" alt='MAP IMAGE NOT AVAILABLE NOW'
        style="max-width: 100%;min-width: 100%">
      {% endif %}

      <!-- PROGRESS -->
      
      
  <div class="container pt-2 px-0">
    <div class="row justify-content-center">
      <div class="col-10 col-md-10">
        <div class="progress position-relative">
          <div class="progress-bar text-dark" role="progressbar" aria-valuenow="{{ eventProgress[i] }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ eventProgress[i] }}%;">
            <small class="justify-content-center d-flex position-absolute w-100">        
            {% if hours[i]!=0 %}
            Ends in {{ hours[i] }}h {{ minutes[i] }}m
            {% else %}
            Ends in {{ minutes[i] }}m
            {% endif %}
          </small>
      </div>
  </div>
  </div>
  </div>
  </div>

  <!-- END PROGRESS -->

    </div>

    <!-- END DIV -->

  </div>
</div>
{% endif %}
{% endfor %}
</div>
<!-- END DIV -->

<script>

const metaDiv = document.getElementById("metaDiv");
const soloButton = document.getElementById("currentButton");
const normalLength = 8
soloButton.onclick = function () {
  if (metaDiv.children.length > normalLength)
  {
  metaDiv.children.slice(0, normalLength).style.display = "block";
  metaDiv.children.slice(normalLength+1, metaDiv.length).style.display = "none";
  }
  else
  {
  metaDiv.style.display = "block"
  }

};

const teamButton = document.getElementById("championshipButton");

teamButton.onclick = function () {
  if (metaDiv.children.length > normalLength)
  {
  metaDiv.children.slice(0, normalLength).style.display = "none";
  metaDiv.children.slice(normalLength+1, metaDiv.length).style.display = "block";
  }
  else
  {
    metaDiv.style.display = "none"
  }
};
</script>

{% endblock body %}
